.wrapper {
    .callArea {
        height: calc(100vh - 60px);
        background-color: var(--mantine-color-gray-0);
        width: 360px;

        .linkNav {
            background-color: white;
            cursor: pointer;
            padding: 16px;

        }

        .calls {
            .callInput {
                width: 100%;
            }

            .callBtn {}
        }
    }

    .callHistory {
        width: 100%;
    }
}